*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://www.xtrafondos.com/wallpapers/retrowave-neon-arte-abstracto-3478.jpg);
}
h2{
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    position: relative;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    margin-bottom: 10%;
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #000000;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #ffff;
        box-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
    }
}
.Mp{
    width: 50%;
    background-color: #FBF9F9;
}
.Pp{
    width: 100%;
    margin-top: 50px;
    background-color: #FBF9F9;
}
.Np{
    width: 50%;
    background-color: #FBF9F9;
}
.NM{
    align-items: center;
    display: flex;
}
.Descripcion{
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    height: 100px;
    border-radius: 5px;
    background-color:#FBF9F9;
}
.Btn{
    background-color: black;
    position: relative;
    margin-top: 45px;
    margin-left: 30%;
    width: 37%;
    display: inline-block;
    text-decoration: none;
    color: #FBF9F9;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: 0.5;
}
.Btn:hover{
    background-color: #CDBCBC;
}
